@model Tracker.Controllers.ReminderController.ReminderListViewModel

@{
  ViewBag.Title = "Reminders";
  Layout = "_Layout";
}

<h2>Reminders</h2>
<p>
  <a asp-action="CreateOrEdit" asp-route-reminderId="0">Create</a>
</p>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Next Reminder</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @foreach (var reminder in Model!.Reminders)
    {
      <tr>
        <td>@reminder.Name</td>
        <td>@reminder.ReminderType.Name</td>
        <td>@(reminder.NextRun != null ? TimeZoneInfo.ConvertTimeFromUtc((DateTime) reminder.NextRun, Model.UserTimeZone) : "(none)")</td>
        <td>
          <a asp-action="CreateOrEdit" asp-route-reminderId="@reminder.Id">Edit</a>
          <a asp-action="Completions" asp-route-reminderId="@reminder.Id">Completions</a>
        </td>
      </tr>
    }
  </tbody>
</table>
